@import url('https://fonts.googleapis.com/css2?family=Pavanam&display=swap');

.hero1 {
    background: #fff;
    padding: 50px 0 50px 0;
}

.hero1 .hero1-img {
    width: 100%;
}

.hero1 h3 {
    font-family: "Pavanam";
    font-size: 43px;
    font-weight: bolder;
    line-height: 54px;
    letter-spacing: -0.01em;
    color: #161C2D;
}

@media only screen and (max-width: 1024px) {
    .hero1 h3 {
        font-size: 20px;
        line-height: 21px;
    }
}

.hero1 span {
    font-family: "Pavanam";
    font-size: 43px;
    line-height: 54px;
    letter-spacing: -0.01em;
    color: #335EEA;
}

@media only screen and (max-width: 1024px) {
    .hero1 span {
        font-size: 20px;
        line-height: 21px;
    }
}

.hero1 p {
    max-width: 500px;
    font-family: "Pavanam";
    font-size: 19px;
    line-height: 30px;
    color: #869AB8;
}

@media only screen and (max-width: 1024px) {
    .hero1 p {
        font-size: 12px;
        line-height: 16px;
    }
}

.hero1 input[type="email"] {
    background: #F1F4F8;
    border-radius: 6px;
    padding: .4em .3em;
    border: 1px solid #F1F4F8;
    width: 40%;
}

@media only screen and (max-width: 1024px) {
    .hero1 input[type="email"] {
        padding: .4em .3em;
    }
}

.hero1 .btn {
    background: #335EEA;
    border-radius: 6px;
    box-shadow: 1px 4px 20px #91908f33;
    padding: 14px 20px;
    font-family: "Pavanam";
    font-size: 17px;
    line-height: 25px;
    color: #ffffff;
}

@media only screen and (max-width: 1024px) {
    .hero1 .btn {
        padding: 6px 12px;
        font-size: 12px;
    }
}

.hero2 {
    background: #fff;
    padding: 0px 0 50px 0;
}

.hero2 .hero2-img {
    width: 100%;
}

.hero2 h3 {
    max-width: 375px;
    font-family: "Pavanam";
    font-size: 43px;
    font-weight: bolder;
    line-height: 54px;
    letter-spacing: -0.01em;
    padding-left: 50px !important;
    color: #161C2D;
}

@media only screen and (max-width: 1024px) {
    .hero2 h3 {
        font-size: 20px;
        line-height: 21px;
        padding: auto;
    }
}

.hero2 p {
    max-width: 500px;
    font-family: "Pavanam";
    font-size: 19px;
    line-height: 30px;
    color: #869AB8;
    padding-left: 50px !important;
}

@media only screen and (max-width: 1024px) {
    .hero2 p {
        font-size: 12px;
        line-height: 16px;
        padding: auto;
    }
}

.hero2 .btn {
    background: #335EEA;
    border-radius: 6px;
    box-shadow: 1px 4px 20px #91908f33;
    padding: 14px 20px;
    font-family: "Pavanam";
    font-size: 17px;
    line-height: 25px;
    color: #ffffff;
}

@media only screen and (max-width: 1024px) {
    .hero2 .btn {
        padding: 6px 12px;
        font-size: 12px;
    }
}

.hero3 {
    background: #fff;
    padding: 50px 0 50px 0;
}

.hero3 .hero3-img {
    width: 100%;
}

.hero3 h3 {
    font-family: "Pavanam";
    font-size: 43px;
    font-weight: bolder;
    line-height: 54px;
    letter-spacing: -0.01em;
    color: #161C2D;
}

@media only screen and (max-width: 1024px) {
    .hero3 h3 {
        font-size: 20px;
        line-height: 21px;
    }
}

.hero1 p {
    max-width: 500px;
    font-family: "Pavanam";
    font-size: 19px;
    line-height: 30px;
    color: #869AB8;
}

@media only screen and (max-width: 1024px) {
    .hero1 p {
        font-size: 12px;
        line-height: 16px;
    }
}

.hero4 {
   padding: 0;
   margin: 0;
   text-align: center;
}

.hero4 .image-container {
    margin-bottom: 2rem;
}

.hero4 .video-wrapper {
    position: relative;
}

.hero4 span {
    max-width: 171px;
    background: #FFFFFF;
    box-shadow: 0px 24px 64px rgba(22, 27, 45, 0.15);
    border-radius: 20px;
    position: absolute;
    display: block;
    top: 45%;
    left: 45%;
    padding: .9em .9em;
    font-family: "Pavanam";
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.07em;
    color: #161B2D;
}